/* .btn {

    width: 220px
} */

.form-button {

  width: 50px
}

.form-control {

  width: 50px
}

.ok-group {
  float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
}

.label { font-size: 25% }

body.company-body{

    background-color: #e6f2ff;
}

.container.parameter-table {
    margin-top: 2%;

}

.container.chart-area {
    margin-top: 2%;
    align-items: center;
    border: 1px;
    margin: auto;

}

canvas {
    background-color: white; 
    width: 100%;
    height: auto;
    border: 3px;
    margin: auto;
  }

  .countrycombo {
    margin: auto;
  }

  .viewselect {
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: grey;

  }

  .col-md-3 {

    text-align: center;
  }

  .input-group-text {
    width: 150px;
    }

.table{

  background-color: white;

}